
   <div>
<form action="/artists-search" method="GET">
    <label>Search for an Artist Here:</label>
    <input type="text" name="artistName" placeholder="Please Enter An Artist Name">
    <button type="submit"> Search For an Artist</button>
</form>
</div>
